body{
    margin:0;
    background:#0f0f0f;
    color:white;
    font-family:Arial, sans-serif;
}

h1{
    text-align:center;
    margin-top:60px;
    font-size:60px;
}

p{
    text-align:center;
    font-size:22px;
    color:#c9a96a;
}
